<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
</head>
<body>
    <h1>Page d'accueil et présentation du site</h1>

    {% if not request.user.is_authenticated %}
        <p>
            <a href="{% url 'account:login' %}">Se connecter</a>
        </p>
        <p>
            <a href="{% url 'account:signup-choice' %}">Créer un compte</a>
        </p>
    {% endif %}

    <p>hey bienvenue sur le super site</p>

    {% if request.user.is_authenticated %}
        <p> Bonjour {{ request.user.first_name }} {{ request.user.last_name}}</p>
        <P>
            <a href="{% url 'workspace:home' %}">Se rendre au workspace</a>
        </P>
        <p>
            <a href="{% url 'account:password_reset' %}">reset password ?</a>
        </p>
        <p>
            <a href="{% url 'account:logout' %}">Se déconnecter</a>
        </p>
    {% endif %}
</body>
</html>