<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Connexion à un compte existant</title>
</head>
<body>
    <p>Bonjour Veuillez vous connecter</p>
    <form method="post">
        {% csrf_token %}
        <label for="login-email">Entrez votre adresse email :</label>
        <input type="email" name="login-email" id="login-email">
        <label for="login-password">Entrez votre mot de passe :</label>
        <input type="password" name="login-password" id="login-password">
        <input type="submit" value="Vous connecter">
    </form>
</body>
</html>