<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Création compte selection</title>
</head>
<body>
    <p>
        <a href="{% url 'home' %}">Revenir à la page d'accueil</a>
    </p>
    <h1>Quel compte voulez-vous créer</h1>
    <p>
        <a href="{% url 'account:signup-student' %}">Etudiant</a>
    </p>
    <p>
        <a href="">Intervenant</a>
    </p>
</body>
</html>