<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Selection des Disponibilités profs</title>
</head>
<body>
    <p>
        <a href="{% url 'workspace:home' %}">Revenir à l'écran Workspace</a>
    </p>
    <form method="post">
        {% csrf_token %}
        {{ form }}
        <input type="submit" value="Envoyer">
    </form>
</body>
</html>