<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Delete</title>
</head>
<body>
    <p> Supprimer l'objet : {{ object.degree.libelle }}</p>
    <form action="{% url 'workspace:skills_delete' pk=object.id %}" method="POST">
        {% csrf_token %}
        <p>Voulez-vous Supprimer l'objet {{ object.degree.libelle }} ?</p>
        <input type="submit" value="Supprimer">
        <a href="{% url 'workspace:home' %}">Annuler</a>
    </form>
</body>
</html>