<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <p>
        <a href="{% url 'home' %}">revenir à l'accueil</a>
    </p>
    <h1>Bienvenue dans le workspace</h1>
    <h2>Bienvenue {{ user.first_name }} </h2>
    <hr>
    {% if user.is_teacher %}
    <h3>Compétences</h3>
        <p>
            <a href="{% url 'workspace:skills_selector' %}">Selectionner ses skills</a>
        </p>
        <div style="display: flex;">
            {% for tds in teacher_degree_subject %}
                <div>
                    <p>{{ tds.degree.libelle }} {{tds.id}} <a href="{% url 'workspace:skills_delete' pk=tds.id %}"> Supprimer</a></p>
        
                    <ul>
                        {% for subject in tds.subject.all %}
                            <li>{{subject.libelle}} </li>
                        {% endfor %}
                    </ul>
                </div>
            {% endfor %}
        </div>

        <hr>
        <h3>Disponibilités</h3>
        <p>
            <a href="{% url 'workspace:dispo_select' %}">Selectionner ses Disponibilités</a>
        </p>
        <div style="display: flex;">
            {% for dispo in disponibilite %}
                <div>
                    <p>
                        {{ dispo }} {{ dispo.id }}
                        <a href="{% url 'workspace:dispo_delete' pk=dispo.id %}"> X</a>
                    </p>
                    {% for h in dispo.heure.all %}
                    <ul>
                        <li>{{h.debut}} à {{h.fin}}</li>
                    </ul>
                    {% endfor %}
                </div>
            {% endfor %}
        </div>

        <hr>
        <h3>Rendez-Vous</h3>

    {% endif %}

    {% if user.is_student %}
        <p>
            Bonjour Mr L'étudiant
        </p>
        <h3>Rendez-Vous</h3>
        <p>
            <a href="{% url 'rdv:create' %}">Prendre un RDV</a>
        </p>

    {% endif %}

</body>
</html>